
html, body {
    color: black;
    font-size: 14px;

}

.articleBox {
    margin: 0 auto;
    width: 640px;
}

.headerBox {
    margin: 20px auto;

}

.headerBox h1 {
    font-size: 20px;

}

.headerBox div {
    font-size: 13px;
    line-height: 30px;
    margin-top: 20px;

}

.headerBox div span:nth-of-type(1) {
    color: deepskyblue;
}

.headerBox div span:nth-of-type(2) {
    color: gray;
    margin-left: 15px;

}

.mainbox p {
    margin-top: 15px;
    text-indent: 2em;
    line-height: 30px;
}

.mainbox img{
    margin: 10px auto;
    width: 100%;
}

.mainbox .echarts {
    margin: 10px auto;
    height: 400px;
}

@media all and (max-width: 640px) {
    .articleBox {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box
    }

    .mainbox .echarts {
        height: 200px;

    }
}